<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 py-16 text-center lg:py-32">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-white sm:text-6xl">
      FORMAFUN
    </h1>
    <h2 class="mt-4 text-gray-700 dark:text-gray-200">
     Les formations toujours plus funs
    </h2>
    <p
      class="mx-auto mt-4 max-w-lg text-sm leading-relaxed text-gray-500 dark:text-gray-400"
    >
      FORMAFUN est le centre de formation numéro 1 dans le monde, retrouvez nos
      nombreuses formations en programmation, bureautique, et divers autres...
    </p>
  </div>
</section>
