<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold sm:text-3xl">Nouveau client ?</h1>

    <p class="mt-4 text-gray-500">
      Entrez vos coordonnées pour valider la commande :
    </p>
  </div>

  <form
    #f="ngForm"
    (ngSubmit)="saveCustomer(f.value)"
    class="mx-auto mt-8 mb-0 max-w-md space-y-4"
  >
    <div>
      <label for="lastname" class="sr-only">Nom de famille</label>
      <div class="relative">
        <input
          required
          name="lastname"
          type="text"
          autocomplete="family-name"
          id="lastname"
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
          placeholder="Nom de famille"
          [(ngModel)]="basketService.getCustomer().lastname"
        />
      </div>
    </div>

    <div>
      <label for="firstname" class="sr-only">Prénom(s)</label>
      <div class="relative">
        <input
          required
          name="firstname"
          autocomplete="given-name"
          id="firstname"
          type="text"
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
          placeholder="Prénom"
          [(ngModel)]="basketService.getCustomer().firstname"
        />
      </div>
    </div>

    <div>
      <label for="phone" class="sr-only">Téléphone</label>
      <div class="relative">
        <input
          required
          name="phone"
          id="phone"
          type="text"
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
          placeholder="Téléphone"
          [(ngModel)]="basketService.getCustomer().phone"
        />
      </div>
    </div>

    <div>
      <label for="address" class="sr-only">Adresse complète</label>
      <div class="relative">
        <input
          required
          name="address"
          autocomplete="street-address"
          id="address"
          type="text"
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
          placeholder="Adresse complète"
          [(ngModel)]="basketService.getCustomer().address"
        />
      </div>
    </div>

    <div>
      <label for="email" class="sr-only">Email</label>
      <div class="relative">
        <input
          required
          name="email"
          autocomplete="email"
          id="email"
          type="email"
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
          placeholder="Email"
          [(ngModel)]="basketService.getCustomer().email"
        />
      </div>
    </div>

    <div class="flex items-center justify-end m-4">
      <button
        type="submit"
        [disabled]="!f.valid"
        routerLink="/order-congrats"
        class="inline-block rounded bg-teal-600 transition hover:bg-teal-700 px-4 py-2 text-sm font-medium text-white disabled:bg-slate-400"
      >
        Valider
      </button>
    </div>
  </form>
</div>
